<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I started tinkering with code at the age of 12, tempted by the ability to build cool things. Soon, however, that interest morphed into a passion for building scalable products and services that could support real, sustainable businesses. I now have over 9 years experience woring with iOS and web technologies. With extreme fluency in NodeJS, TypeScript, React/Redux, React Native, Swift, and Python, I have found little difficulty building scalable architectures and APIs from scratch.
        </p>
        <p>
           When building consumer-facing products, I also pay particular attention to design and detail. My experience in product management at <b>Yelp</b> and <b>Alphabet</b> have lead to a proficiency with Sketch and Adobe Illustrator that have allowed me to take the lead on both product design and development, giving me the ability to take an idea to a aesthetic and functional product with little outside assistance.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          <li>
            Recently built <a href="https://orthly.com">Orthly</a>, a direct-to-consumer brand of invisible aligners. Architected and built the full stack, from a Firebase/PosrgreSQL datastore to a (Typescripted) NodeJS backend to its React Native and Swift mobile frontend and React.JS web platform
          </li>
          <li>
            Past experience at <b>Facebook</b>,<b>Yelp</b>, and <b>Google</b>.
          </li>
          <li>
             Reverse-Engineered a proprietary medical file format and built a <a href="https://github.com/danielmhanover/OpenXLT">C/C++ converter</a> into Matlab.
          </li>
         </ul>
	    </div>
    </div>
  </div>
</section>
